@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    margin: 0 auto 0 auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

h1 {
    font-size: 92px;
    font-weight: 500;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 200px;
    position: static;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 80px;
}

h3 {
    margin: 0 auto 15px auto;
    padding-left: 18px;
    font-size: 30px;
}

h4 {
    text-align: center;
    margin-top: 0px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 120%;
    position: static;
    z-index: 99;
}

h5 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: 200;
    text-shadow: 0 0 20px #fff, 0 0 20px rgb(164, 161, 255), 0 0 30px #e66b00, 0 0 40px #ff9822, 0 0 50px #ffb61a, 0 0 60px #ff9b18, 0 0 70px #ffad0a;

}

.header-img {
    width: 100%;
    position: relative;
    height:100vh;
    object-fit: cover;
}

.header-glow {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height:100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hglow1 {
        animation-name: FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: .8s;
        animation-direction: alternate;
        
}

#hglow2 {
    animation-name: FadeOutIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: .6s;
    animation-direction: alternate;
    
}

.arch {
  display: block;
  margin-bottom: 0;
}

.grid-images {
    display: grid;
    padding: 200px auto 200px auto;
    justify-content: center;
    justify-items: center;
    column-gap: 0;
}

.spotlight-image {
    width: 400px;
    height: 220px;
    object-fit: cover;
    padding: 10px;
}

.pricing {
    position: absolute;
    top: 28%;
    left: 40%;
    margin-right: 230px;
}

.pricing-grid {
    margin: 0 auto 0 auto;
    display: none;
    justify-content: space-between;
    justify-items: left;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
    padding: 1em 0 0 0;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}

.pricing-mobile {
  margin: 0 auto 0 auto;
  justify-items: left;
  justify-content: space-between;
  display: grid;
  column-gap: 10px;
  padding: 1em 0 0 0;
  font-size: 20px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  line-height: 30px;
  letter-spacing: 1px;
}

.col1 {
  text-align: left;
  justify-self: start;
  font-weight: 800;
}

.col {
  display: grid;
  row-gap: 20px;
}

.supporters {
    margin: 0 auto 0 auto;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    padding: 3em 0px;
}

.supporters img {
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(105%) contrast(103%);
}

.first-item {
    grid-column: 1;
}

.second-item {
    grid-column: 2;
    margin-top: 30px;
}

.third-item {
    grid-column: 3;
}

.mainFLowers {
    position: relative;
    top: -30em;
}

#flowers1 {
    position:relative;
    width: 100%;
    top:0;
    left:0;
}

#flowers1glow {
    position:absolute;
    width: 100%;
    top:0;
    left: 0;
}

#flowers2 {
    position:absolute;
    width: 80%;
    top:200px;
    left:300px;
}

#flowers2glow {
    position:absolute;
    width: 80%;
    top:200px;
    left: 300px;
}

#flowers3 {
    position:absolute;
    width: 80%;
    top:200px;
    left:90px;
}

#flowers3glow {
    position:absolute;
    width: 80%;
    top:200px;
    left: 90px;
}

.mainFLowers {
    z-index: 1;
}
  
.mainFLowers img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  @keyframes FadeInOut {
    0% {
    opacity:1;
    }
    100% {
    opacity:0;
    }
  }

  @keyframes FadeOutIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
  }
  
  #flowers1glow {
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  }

  #flowers2glow {
    animation-name: FadeOutIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

#flowers3glow {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-direction: alternate;
}

.accordion {
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    display: grid;
  }
  
  .active, .accordion:hover {
    background-color: rgb(80, 80, 80); 
  }
  
  .panel {
    width: 77.5%;
    padding: 0 18px;
    background-color: rgb(60, 60, 60);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0 auto 0 auto;
  }

  .question {
    grid-column: 1;
    grid-row: 1;
  }

  .symbol {
    font-size: 30px;
    rotate: 90;
    float: right;
    margin-left: 5px;
    font-weight: 700;
    padding-right: 2%;
    line-height: 80%;
    grid-column: 2;
    text-align: right;
    grid-row: 1;
  }

  .symbol2 {
    display: none;
    font-size: 30px;
    rotate: 90;
    float: right;
    margin-left: 5px;
    font-weight: 700;
    padding-right: 2%;
    line-height: 80%;
    grid-column: 2;
    text-align: right;
    grid-row: 1;
  }

  .faqs {
    margin: -560px auto 0 auto;
    width: 80%;
    padding-bottom: 70px;
  }

  .faqs button {
    margin: 0 auto 0 auto;
    width: 100%;
  }

  .description {
    padding: 0 11% 0 11%;
    margin-top: -6%;
    text-align: center;
    position: relative;
  }

  .description p {
    position: relative;
    z-index: 20;
    font-size: 30px;
  }

  #scattered-lights {
    position: relative;
    padding: 0px;
    margin: -12em 0px 0px 0px;
  }

  #main-scattered {
    position: relative;
  }

  .description img {
    width: 130%;
    position: absolute;
    left: -15%;
    top: 0%;
    z-index: -1;
  }

  #blackout1 {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
  }

  #blackout2 {
    animation-name: FadeOutIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-direction: alternate;
  }

  .neon {
    position: relative;
    margin: 200px, 0px, 200px, 0px;
    padding: 10vw;
  }

  .line{
    margin: 30px;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 2em;
    height: 0;
    width: 105vw;
    top: 0px;
    left: -5%;
    box-shadow: 0 0 .2rem rgb(255, 215, 154),
            0 0 .2rem #fff,
            0 0 2rem #ffae6c,
            0 0 0.8rem #ffab3d,
            0 0 2.8rem #ffb348,
            inset 0 0 1.3rem #ffd37a;
  }

  
  .linev2{
    margin: 30px;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 2em;
    height: 0vw;
    width: 105vw;
    top: 70%;
    left: 100%;
    box-shadow: 0 0 .2rem rgb(255, 215, 154),
            0 0 .2rem #fff,
            0 0 2rem #ffea8d,
            0 0 0.8rem #ffc06f,
            0 0 2.8rem #ffcf8b,
            inset 0 0 1.3rem #ffd37a;
  }

  #line1 {
    rotate: 2deg;
    position: absolute;
    transform-origin: bottom left;
  }

  #line2 {
    rotate: 5deg;
    position: absolute;
    transform-origin: bottom left;
  }

  #line3 {
    rotate: 9deg;
    position: absolute;
    transform-origin: bottom left;
  }

  #line4 {
    rotate: 182deg;
    position: absolute;
    transform-origin: bottom left;
  }

  #line5 {
    rotate: 185deg;
    position: absolute;
    transform-origin: bottom left;
  }

  #line6 {
    rotate: 189deg;
    position: absolute;
    transform-origin: bottom left;
  }


  .description h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 80px;
  }

  .description button {
    border-radius: 30px;
    font-size: 24px;
    padding: 8px 50px;
    background-color: #ffffff;
    border-style: none;
    position: relative;
    z-index: 100;
    transition: ease-in-out;
    transition-duration: .8s;
  }

  .description button:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(164, 161, 255), 0 0 20px #e66b00, 0 0 30px #ff9822, 0 0 30px #ffb61a, 0 0 30px #ff9b18, 0 0 60px #ffad0a;
    color: #f19f57;
    transition: ease-in-out;
    transition-duration: .8s;
  }

  h2 span {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(249, 185, 36), 0 0 8px rgb(255, 236, 161), 0 0 20px #e68200, 0 0 30px #ff9822, 0 0 20px #ffb61a, 0 0 40px #ff9b18;
  }

  @media only screen and (max-width: 1428px) {
    .description p {
      font-size: 1.8em;
    }

    #scattered-lights {
      margin: -11em 0px 0px 0px;
    }
    .mainFLowers {
      top: -25em;
    }
    #flowers3 {
      top:18em;
      left:90px;
    }
    #flowers3glow {
      top:18em;
      left: 90px;
    }
    .faqs {
      margin: -350px auto 0 auto;
    }
  }

  @media only screen and (max-width: 1225px) {
    .spotlight-image {
      width: 90%;
      height: 20vw;
    }
    .grid-images {
      padding: 30px 1em 0 1em;
      align-items: center;
    }
    .description p {
      font-size: 1.5em;
    }
    #scattered-lights {
      width: 130%;
      left: -15%;
      margin: -10em 0px 0px 0px;
    }
    .mainFLowers {
      top: -22em;
    }
    #flowers3 {
      top:23em;
      left:-80px;
    }
    #flowers3glow {
      top:23em;
      left:-80px;
    }
    .pricing {
      top: 32%;
      left: auto;
      padding: 0px 220px 0px 400px;
      margin: 0 auto 0 auto;
    }
    .faqs {
      margin: -150px auto 0 auto;
    }
  }

  @media only screen and (max-width: 1000px) {
    .supporters {
      margin: 0 auto 0 auto;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1em;
      padding: 3em 35px;
      column-gap: 10px;
    }
    .supporters img {
    height: 30px;
    }
    .description p {
      font-size: 1.3em;
    }
    #scattered-lights {
      margin: -13% 0px 0px 0px;
    }
    .mainFLowers {
      top: -18em;
    }
    .mainFLowers {
      margin: 20px auto 0px auto;
    }
    .pricing {
      top: 32%;
      left: auto;
      padding: 0px 200px;
      margin: 0 auto 0 auto;
    }
    h2 {
      text-align: center;
    }
    .pricing-mobile {
      display: grid;
      column-gap: 30px;
      padding: 0 10px;
      font-size: 18px;
      grid-template-columns: repeat(2, auto);
      row-gap: 25px;
      column-gap: 45px;
      line-height: 135%;
    }
  
    .col1 {
      text-align: right;
      justify-self: end;
      font-weight: 800;
    }

    .faqs {
      margin: -20px auto 0 auto;
      width: 85%;
      padding-bottom: 70px;
    }

    .faqs button {
      font-size: 18px;
    }

    h3 {
      margin: 0 auto 15px auto;
      text-align: left;
      font-size: 26px;
    }

    .accordion {
      display: grid;
      align-items: center;
      justify-self: center;
      column-gap: 10px;
    }

    .panel {
      width: 77.5%;
      padding: 0 18px;
      background-color: rgb(60, 60, 60);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      margin: 0 45px;
    }
    #flowers3 {
      top:22em;
      left:-40px;
    }
    #flowers3glow {
      top:22em;
      left:-40px;
    }
  }

  @media only screen and (max-width: 756px) {
    .pricing {
      top: 32%;
      left: auto;
      padding: 0px 100px;
      margin: 0 auto 0 auto;
    }
  }

  @media only screen and (max-width: 590px) {
    .faqs {
      margin-top: 30px;
    }

    h3 {
      text-align: center;
      padding-left: 0px;
    }

    .header-img {
      height: 75vh;
    }

    .header-glow {
      height: 75vh;
    }

    .first-item {
      grid-column: 1;
    }
  
    .second-item {
      grid-column: 1;
      grid-row: 2;
      margin-top: 0px;
    }
  
    .third-item {
      grid-column: 1;
      grid-row: 3;
    }

    .spotlight-image {
      width: 90%;
      height: 20vh;
    }

    .description p {
      font-size: 22px;
    }

    h2 {
      font-size: 36px;
      text-align: center;
    }

    .pricing-grid {
      font-size: 16px;
    }

    .pricing {
      top: 32%;
      left: auto;
      padding: 0px 55px;
      margin: 0 auto 0 auto;
    }

    .description button {
      font-size: 18px;
      padding: 8px 30px;
    }

    .mainFLowers {
      margin: 90px auto 0px auto;
    }

    #flowers2 {
      position:absolute;
      width: 80%;
      top:200px;
      left:80vw;
  }
  
  #flowers2glow {
      position:absolute;
      width: 80%;
      top:200px;
      left: 290px;
  }
  
  #flowers3 {
      position:absolute;
      width: 80%;
      top:400px;
      left:0px;
  }
  
  #flowers3glow {
      position:absolute;
      width: 80%;
      top:400px;
      left: 0px;
  }

  .pricing-mobile {
    display: grid;
    column-gap: 30px;
    padding: 0 10px;
    font-size: 18px;
    grid-template-columns: repeat(2, auto);
    row-gap: 25px;
    column-gap: 45px;
    line-height: 135%;
  }

  .col1 {
    text-align: right;
    justify-self: end;
    font-weight: 800;
  }

  .supporters {
    margin-top: -20px;
  }

  .header-img {
    height: 60vh;
  }

  .header-glow {
    height: 60vh;
  }

  .line{
    width: 120vw;
    left: -20%;
  }

  .linev2{
    width: 120vw;
    left: 100%;
  }
  }
  @media only screen and (max-width: 500px) {


    .faqs {
      margin-top: 70px;
    }

    .mainFLowers {
      margin-top: 200px;
    }
  }
  @media only screen and (max-width: 420px) {

    #flowers3 {
      position:absolute;
      width: 80%;
      top:600px;
      left:0px;
  }
  
  #flowers3glow {
      position:absolute;
      width: 80%;
      top:600px;
      left: 0px;
  }
    .faqs {
      margin-top: 240px;
    }
  }
